*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    background-color: black;
}
.Survey__form{
 width:80%;
 height: 50%;
 Padding:30px;
 border: solid white 2px;
 color: white;
 font-family: 'Times New Roman', Times, serif;
 margin:30px;
}
.Header h1{
    text-align: center;
    padding:10px;
    margin:10px;
    font-size: 70px;
}
.form{
    Padding:40px;
   
    font-weight: bolder;
}

.Customer__div p{
   /* padding:  10px; */
   text-align: left;
    /* margin:20px; */
    font-size: 40px;
}
.Customer__div{
  display:flex;
  flex-direction: column;
  gap:5px;
}
.Customer__div p{
    font-size:25px;
    position: relative;
    left:5px;
 Padding:10px;
}

.Customer__div__input{
    width:50%;
    height:30%;
    display: flex;
    gap:20px;
}
.input__field__one{
   width:100%;
}
.input__field__one input{
    border: solid 2px;
    border-radius: 10px;
    width: 300px;
    background-color: white;
    height:40px;
}
.input__field__one p{
    font-size: 16px;
}
.input__field__two{
    width:100%;
 }
 .input__field__two input{
     border: solid 2px;
     border-radius: 10px;
     width: 300px;
     background-color: white;
     height:40px;
 }
 .input__field__two p{
     font-size: 16px;
 }
 
.Address__div_input{
    width:50%;
    height:50%;
    display:flex;
    flex-direction: column;
}
.Address_input__field__one input{
    border: solid 2px;
    border-radius: 10px;
    width: 800px;
    background-color: white;
    height:40px;
}
.Address_input__field__one p{
    font-size: 16px;
}
.Address_input__field__two input{
    border: solid 2px;
    border-radius: 10px;
    width: 800px;
    background-color: white;
    height:40px;
}
.Address_input__field__two p{
    font-size: 16px;
}